.parnership{background: rgb(247, 247, 246);}

.crews{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    align-items: center;
    text-align: center;
}

.crews img{
    transition: 0.3s ease;
    width:200px;
    filter: grayscale(100%);
    cursor: pointer;
    display: block;
    margin:0 auto;
    padding:2rem 0;
}


.crews img:hover{
    filter: grayscale(0%) brightness(0.3) sepia(1) hue-rotate(180deg);
    -webkit-filter: grayscale(0%) brightness(0.3) sepia(1) hue-rotate(180deg);
}

@media(max-width:66rem){
    .crews img{
        width:130px;
        padding:2rem 0;
    }
}



