.hero {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 70%;
    display: flex;
    padding:0 1rem;
}


.hero-dot-play {
    display: flex;
    justify-content:space-between;
    align-items: center;
    color:#fff;
    width: 100%;
}

.hero-dots {
    display: flex;
    align-items: center;
    gap:1.438rem;
    list-style: none;
}

.hero-dot {
    width: 15px;
    height: 15px;
    background:#fff;
    cursor: pointer;
    border-radius: 50%;
}

.hero-dot.orange {background:#d35400;}

.hero-play {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.875rem;
    color:#fff;
    cursor: pointer;

}

.hero-play p {
    font-size:1rem;
    color:#fff;
}



@media only screen and (max-width:48rem) {
   
    .hero {top: 50%;}

    .hero-play img{width: 40px;}

    .hero-play {gap:.625rem;}
}