footer{
	padding:4rem 2rem 1rem 0;
  }
  textarea {resize: none;}

.container-contact{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.25rem 6.26rem;
}

.container-contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
  	background: #fff;
}
.contact-box{
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.19);
}

.left{
	background:linear-gradient(rgba(0, 0, 0, 0.413),rgba(0, 0, 0, 0.413)), url("/src/Components/img/ContactImg.jpeg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 1.563rem 2.5rem;
}



.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color:#d35400;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
  border: 2px solid;
}

.btn:hover{
    background-color:#fff;
    color: #d35400;
  
}

.field:focus{
    border: 2px solid #d35400;
    background-color: #fff;
}




@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
    	width:100%;
    	padding:0;
	}
	.left{
		height: 200px;
	}


  .field{
    width: 100%;
    outline: none;
    padding: 0rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    padding: 6px ;
  }


  .container-contact{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.8rem ;
  }

  .right{
    padding: 25px 10px;
  }
  
}





.text {
color: white;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
white-space: nowrap;
}



.svg-inline--fa {
vertical-align: -0.200em;
}

.rounded-social-buttons {
text-align: center;

}

.rounded-social-buttons .social-button {
display: inline-block;
position: relative;
cursor: pointer;
width: 3.125rem;
height: 3.125rem;
border: 0.125rem solid transparent;
padding: 0;
text-decoration: none;
text-align: center;
color: #fefefe;
font-size: 1.5625rem;
font-weight: normal;
line-height: 1.8em;
border-radius: 1.6875rem;
transition: all 0.5s ease;
margin:0 0.4rem;
margin-bottom: 0.25rem;

}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
-webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
color: #3b5998;
background: #fefefe;
border-color: #3b5998;
}

.rounded-social-buttons .social-button.youtube {
background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
color: #bb0000;
background: #fefefe;
border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
background: #125688;
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
color: #125688;
background: #fefefe;
border-color: #125688;
}



.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}


.rounded-social-buttons .social-button.instagram {
  background: #125688;
}