:root{
    --color--white:#fff;
    --color--orange:#d35400;
}
.main-conteiner{
    padding-top: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap:3.75rem;
    padding:2.188rem;

}
.contentLeft,
.contentRight{
    width: 100%;
}
.contentLeft .row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .625rem;
}
.contentLeft .row .imgWrapper{
    width: 100%;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}
.contentLeft .row .imgWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    transition: 0.3s ease;
}

.contentLeft .row .imgWrapper:hover img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
    
 
.contentLeft .row .imgWrapper:nth-child(odd){
    transform: translateY(-20px);
}

.contentLeft .row .imgWrapper:nth-child(even){
    transform: translateY(20px);
}
.contentRight .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .938rem;
}
.contentRight .content h4{
    font-size: 1.375rem;
    font-weight: 400;
    color:var(--color--orange);
}
.contentRight .content h2{
    font-size:2.5rem;
    color: #1e272e;
}
.contentRight .content p{
    font-size: 1rem;
    color: #343434;
    line-height: 28px;
    padding-bottom: 10px;
}
.contentRight .content a{
    display: inline-block;
    text-decoration: none;
    font-size:1rem;
    letter-spacing: 1px;
    padding: 0.813rem 1.875rem;
    color: var(--color--white);
    background:var(--color--orange);
    border-radius: 8px;
    user-select: none;
}
@media(max-width:48rem){
    .container{grid-template-columns: 1fr; padding:1rem;}

    .contentLeft .row{grid-template-columns: repeat(2, 1fr);}

    .contentLeft .row .imgWrapper{height: 170px;}

    .contentRight .content h4{font-size: 1.125rem;}

    .contentRight .content h2{font-size:1.875rem;}

    .main-conteiner{padding-top:60vh;}


    .contentLeft .row .imgWrapper:hover img{
        transform: scale(1);
    
}
        
}

